* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 48px;
}

div#container {
  margin: 0 auto;
  display: flex;
  width: 960px;
  height: 960px;
  border: 2px solid black;

  flex-wrap: wrap;
}

button {
  margin-bottom: 32px;
  font-size: 24px;
  padding: 8px 12px;
}